*{
  padding: 0px;
  margin: 0px;
}
body {
  border: none;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  overflow-x: hidden;
  background-color: white;
	color: #313b3d;
	font-family: 'Open Sans', 'Helvetica Neue',sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	font-size: 14px;
}
button{
  margin-top: 5px;
  margin-left: 5px;

}
.images img{
  height: 200px;
}
.images a{
  height: 370px;
}
footer {
	margin-top: 30px;
	margin-bottom:-30px;
	margin-bottom:-30px;
	margin-bottom:0px;
}
.register{
        padding-top: 20px;
        padding-bottom: 20px;
      }
.head-form {
	color:red;
}
.panel-header{
	color:red;
}
.ma {
  margin-top: 10px;
  padding: 10px;
}